Thumbs.db
.DS_Store
*~
.sass-cache
.coffeescript-cache
compass_app_log.txt
fire_app_log.txt
document_root
tmp
.bundle
robots.txt
humans.txt
crossdomain.xml

javascripts/angular
javascripts/showcase
javascripts/notification/
stylesheets/style.css

_public
node_modules

*.html